<form method='POST' action='/articles'>
    <label>Title<input id="title" type='text' name='title'></label>
    <label>Content<input id="content" type='text' name='content'></label>
    <label>submit<input type='submit'></label>
</form>