<form method='POST' action='/articles'>
    <label>Title: <input type='text' name='title' id='title' /></label>
    <label>Content: <input type='content' name='content' id='content' /></label>
    <input type='submit' id='submit' />
</form>