<h1><%= @article.title %></h1>
<%= @article.content %>
<form method='POST' action='/articles/<%= @article.id %>'>
    <label><input type='hidden' name='_method' value= "delete"></label>
    <label>submit<input type='submit'></label>
</form>